<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Partials :: head">
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<div th:replace="Partials :: nav"></div>

<!-- Modified Form -->
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{title}">
        <br>
        Body:
        <input th:field="*{body}">
        <br>
        <input type="submit">
    </form>

<!--&lt;!&ndash; Old Form &ndash;&gt;-->
<!--    <form action="/posts/create" method="post">-->
<!--    <input type="text" name="title" value="title">-->
<!--    <br>-->
<!--    <input type="text" name="body" value="body">-->
<!--    <br>-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->

<div th:replace="Partials :: footer"></div>
</body>
</html>