<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>One Post</title>
</head>
<body>

<div>
    <h1 >You got to the Edit page for: <span th:text="${post.title}"></span></h1>

    <form th:action="'/posts/edit/' + ${post.id}" method="post">

        <input type="text" name="title" th:value="${post.title}">
        <br>
        <input type="text" name="body" th:value="${post.body}" >
        <br>
        <input type="submit" value="Submit">

    </form>

</div>

</body>
</html>