<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="Partials :: head"></th:block>
    <title>One Post</title>
</head>
<body>
<div th:replace="Partials :: nav"></div>

<div>
    <h1 >You got to the Edit page for: <span th:text="${post.title}"></span></h1>
    <!--  Modified Form  -->
    <form th:action="@{'/posts/edit/' + ${post.id}}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{title}">
        <br>
        Body:
        <input th:field="*{body}">
        <br>
        <input type="submit">
    </form>

</div>

<div th:replace="Partials :: footer"></div>
</body>
</html>