<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Partials :: head">
    <meta charset="UTF-8">
    <title>One Post</title>
</head>
<body>
<div th:replace="Partials :: nav"></div>

<div>
    <h1>This is show.html</h1>
    <h2 th:text="${post.title}"></h2>
    made by the user with the email: <h4 th:text="${post.user.getEmail()}"></h4>
    <p th:text="${post.body}"></p>

    <!-- Edit button -->
    <a th:href="'/posts/edit/' + ${post.id}">Edit</a>

    <!-- Delete button -->
    <form th:action="'/posts/' + ${post.id}" method="post">
        <input type="submit" value="Delete" name="delete">
    </form>

</div>

<div th:replace="Partials :: footer"></div>
</body>
</html>