<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head Fragment that includes Bootstrap -->
<head th:fragment="head">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
</head>

                                            <!--PARTIALS/FRAGMENTS-->

<body>

<!-- Head Fragment that includes Bootstrap -->
<div th:fragment="head">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
</div>

<!-- Header Fragment -->

<div th:fragment="header">
    <header>Welcome to Splog!</header>
</div>

<!-- NavBar Fragment -->

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome to Splog!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">My<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Really</a>
            <a class="nav-item nav-link" href="#">Great</a>
            <a class="nav-item nav-link" href="#">Nav</a>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </div>
    </div>
</nav>

<!-- Footer Fragment -->

<div th:fragment="footer">
    <footer>My Really Great Footer</footer>
</div>

</body>
</html>